<style>
    .banner-carousel-wrapper {
        position: relative;
        width: 100%;
        margin: 0 auto;
        /* overflow: hidden; */
        /* max-height: 60vh; */
    }

    .banner-carousel {
        display: flex;
        /* aspect-ratio: 16 / 9; */
        min-height: 25vh;
        max-height: 90vh;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
        scrollbar-width: none; /* Hide scrollbar Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .banner-carousel::-webkit-scrollbar {
        display: none;
    }

    .banner-carousel img {
        flex: 1 0 100%;
        width: 100vw;
        scroll-snap-align: start;
        object-fit: cover;
        object-position: center;
    }

    .banner-carousel-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .banner-carousel-nav a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
        border: #00664F solid 1px;
    }

    .banner-carousel-nav a:hover {
        opacity: 1;
    }
</style>

<section class="banner-carousel-container">
	<div class="banner-carousel-wrapper">
		<div class="banner-carousel">
			<img id="slide-1" src="../assets/images/homepage-carousel/2026/main.jpeg" />
			<img id="slide-2" src="../assets/images/homepage-carousel/2026/bridge3.png" />
			<img id="slide-3" src="../assets/images/homepage-carousel/2026/grass_pic.jpeg" />
            <img id="slide-4" src="../assets/images/homepage-carousel/2026/sports.jpeg" />
			<img id="slide-5" src="../assets/images/homepage-carousel/2026/library.jpeg" />
		</div>
		<div class="banner-carousel-nav">
			<a href="#slide-1"></a>
			<a href="#slide-2"></a>
			<a href="#slide-3"></a>
            <a href="#slide-4"></a>
			<a href="#slide-5"></a>
		</div>
	</div>
</section>

<script>
    
</script>
