<style>
  .carousel-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1vh;
  }

  .carousel-img-container {
    display:flex;
    height: 35vh;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  
  .carousel-img {
    height: 35vh;
    width: 20vw;
    object-fit: cover;
    margin: 0.5vw;
  }

  .arrow-container {
    display:flex;
    padding: 0;
    margin: 5vw;
    transition: filter 0.5s;
  }

  .arrow-container:hover {
    display:flex;
    padding: 0;
    margin: 5vw;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
  }

</style>
  
<div class="carousel-container">

  <div class="arrow-container">
    <svg width="14" height="37" viewBox="0 0 28 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 4L4 37L24 70" stroke="#00664F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>  

  <div class="carousel-img-container">
    {% for i in page.carousel-img %}
    <div>
      <img src="{{ i | relative_url }}" class="carousel-img">
    </div>
    {% endfor %}
  </div>

  <div class="arrow-container">
    <svg width="14" height="37" viewBox="0 0 28 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 4L24 37L4 70" stroke="#00664F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

</div>

<script>
</script>