<style>
    .gep-testimonial {
        border: 2px solid #00664F;
        padding: 10px
    }

    .flex-container {
        display: flex;
        gap: 1vw;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .carousel-container {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1vh;
    }

    .carousel-img-container {
        display:flex;
        height: 35vh;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    
    .carousel-img {
        height: 35vh;
        width: 20vw;
        object-fit: cover;
        margin: 0.5vw;
    }

    .arrow-container {
        display:flex;
        padding: 0;
        margin: 5vw;
        transition: filter 0.5s;
    }

    .arrow-container:hover {
        display:flex;
        padding: 0;
        margin: 5vw;
        cursor: pointer;
        filter: drop-shadow(0px 0px 5px #00664F);
    }
</style>
<div>
    {% assign data = site.data.gep %}
    {% for row in data%}
        <h2>{{ row["GEP"] }}</h2>
        <p>{{ row["write_up"] }}</p>
        <div class="flex-container">
            <div class="carousel-container">

                <div class="arrow-container" id="prev-button">
                  <svg width="14" height="37" viewBox="0 0 28 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 4L4 37L24 70" stroke="#00664F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>  
              
                <div class="carousel-img-container">
                  <div>
                    <img src="{{ row["first_pic"] | relative_url }}" class="carousel-img">
                  </div>
                  <div>
                    <img src="{{ row["second_pic"] | relative_url }}" class="carousel-img">
                  </div>
                  <div>
                    <img src="{{ row["third_pic"] | relative_url }}" class="carousel-img">
                  </div>
                </div>
              
                <div class="arrow-container" id="next-button">
                  <svg width="14" height="37" viewBox="0 0 28 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4L24 37L4 70" stroke="#00664F" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              
              </div>
        </div>
        <div class="gep-testimonial">
            <h3>Hear from our students</h3>
            <p>
                {{ row["testimonial_content"] }}
            </p>
            <h4>{{ row["testimonial_student"] }}, 2023 Year 5 Student</h4>
        </div>
    {% endfor %}
</div>