<style>
    .img-by-text-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 15px;
    }

    .img-img-by-text {
        width: 45%;
        height: auto;
        flex: 1;
        object-fit: contain;
        border-radius: 10px;
    }

    .img-by-text-container-text {
        flex: 1;
        width: 45%;
    }

    @media only screen and (min-width: 750px) {
        .img-first {
            flex-direction: row-reverse;
        }    
    }

    @media only screen and (max-width: 1000px) {
        .img-by-text-container {
            flex-wrap: wrap;
        }
        .img-by-text-container-text, .img-img-by-text {
            width: 100%;
            height: auto;
        }    
    }
</style>
{% if include.img_first %}
<div class="img-by-text-container img-first">
{% else %}
<div class="img-by-text-container">
{% endif %}
    <div class="img-by-text-container-text">
        {% if include.header != "" %}<h2>{{include.header}}</h2>{% endif %}
        <p>{{include.description}}</p>
    </div>
    <img src="{{include.img_url}}" class="img-img-by-text">
</div>